# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binaries
*_test

# Build artifacts
# Compiled binaries, e.g., for `go install`
# If you use a different output directory, adjust this.
/bin/
/pkg/

# Dependency directories
# Vendor directory for modules
/vendor/

# Environment variables and configuration files
# Sensitive information should not be committed
.env
.env.*
config.toml.local
*.local.yml

# IDE-specific files and directories
# Visual Studio Code
.vscode/

# GoLand
.idea/

# macOS system files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Other common temporary files
*.log
*.tmp

# Loom binary
loom
# Added by goreleaser init:
dist/

.workflow.txt